<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-5">
        <form [ngClass]="{'valid-style':frmRegister.valid,'invalid-style':frmRegister.invalid}" #frmRegister="ngForm" (ngSubmit)="FormSubmit(frmRegister.value)">
            <h2>Register User</h2>
            <dl>
              <dt>User Name</dt>
              <dd><input required minlength="4" maxlength="10" name="UserName" ngModel #UserName="ngModel" type="text"></dd>
              <dt>Mobile</dt>
              <dd><input required pattern="\+91-[0-9]{10}" name="Mobile" ngModel #Mobile="ngModel" type="text"></dd>
              <button [disabled]="frmRegister.invalid" class="btn btn-primary m-2" type="submit">Register</button>  
              <button *ngIf="frmRegister.dirty" class="btn btn-success">Save</button>
            </dl> 
         </form>
      </div>
       <hr> 
       <div class="col-7">
        <h3>Validation Services</h3>
       <dl>
        <dt>Pritine[No Change Detected]</dt>
        <dd>{{frmRegister.pristine}}</dd> 
        <dt>Dirty[Change Detected]</dt>
        <dd>{{frmRegister.dirty}}</dd>
        <dt>Valid[All fields Valid]</dt>
        <dd>{{frmRegister.valid}}</dd>
        <dt>Invalid[Any One Feild Invalid]</dt>
        <dd>{{frmRegister.invalid}}</dd>
        <dt>Submitted</dt>
        <dd>{{frmRegister.submitted}}</dd>
       </dl>
       </div>
  </div>
</div>
